/** SCSS Front Page Grid
================================ */

#fp-grid {
  .card {
	width: 100%;
	border: none;
	border-radius: 0;
	background-color: $LightGrey;
  }
}

#fp-side-by-side {
  .row {
	background-color: $White;
	padding: 5px 0 0 0;
  }
  .feature:nth-child(1) {
	padding: 0 5px 0 0;
	img {
	  min-height: 486px;
	  object-fit: cover;
	}
	.card {
	  background-color: transparent;
	  border: none;
	}
  }
  .feature:nth-child(2) {
	background-color: $Gold;
	padding: 0 0 0 0;
	.card {
	  background-color: transparent;
	  border: none;
	  .card-body {
		p {
		  color: $White
		}
	  }
	}
  }
}

#body-grid-cta {
  .card {
	border: none;
	background-color: transparent;
  }
}

#featured-right-content {
  height: 100%;
  .card-body {
	display: flex;
	align-items: center;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .feature:nth-child(2) {
	.card {
	  .card-body {
		p {
		  padding-right: 3.618em;
		}
	  }
	}
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}



// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  #fp-side-by-side .feature:first-child {
	padding: 0;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}
