/** SCSS Front Page Grid
================================ */

#fp-grid {
  .card {
	width: 100%;
	border: none;
	border-radius: 0;
  }
}

#fp-side-by-side {
  .feature:nth-child(1) {
	padding-left: 0;
  }
  .feature:nth-child(2) {
	background-color: $Gold;
  }
}
