/* Home Featured
----------------------------------------------------------------------------- */
#jumbotron-cont {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.jumbotron {
    border-radius: 0;
    margin-bottom: 0;
    padding: {
        right: 0;
        left: 0;
    }
}

#page-feature {
  .row {
	.card {
	  width: 100%;
	  border: none;
	  background-color: transparent;
	}
  }
}
