/** SCSS Margins and Padding
================================= */
.mb-x1 {
  margin-bottom: 1.618em;
}
.mb-x2 {
  margin-bottom: 2.618em;
}
.mb-x3 {
  margin-bottom: 3.618em;
}
.mb-x4 {
  margin-bottom: 4.618em;
}
.mb-x5 {
  margin-bottom: 5.618em;
}
.mb-x6 {
  margin-bottom: 6.618em;
}
.mb-x7 {
  margin-bottom: 7.618em;
}
.mb-x8 {
  margin-bottom: 8.618em;
}

.mt-x1 {
  margin-top: 1.618em;
}
.mt-x2 {
  margin-top: 2.618em;
}
.mt-x3 {
  margin-top: 3.618em;
}
.mt-x4 {
  margin-top: 4.618em;
}
.mt-x5 {
  margin-top: 5.618em;
}
.mt-x6 {
  margin-top: 6.618em;
}
.mt-x7 {
  margin-top: 7.618em;
}
.mt-x8 {
  margin-top: 8.618em;
}
