/** SCSS Page Related
============================== */
h2.large-h2 {
  font-size: 3vw;
}
ul#features-page-list {
  li {
	font-size: 1.8vw;
	display: flex;
	align-items: center;
	margin: .7em auto;
	.fas {
	  margin-right: 10px;
	}
  }
}
#page-body-features {
  .top.row {
	.feature:nth-child(1) {
	  padding: 0;
	}
	.feature:nth-child(2) {
	  background-color: $Green;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  h1,h2,h3,h4,p {
		color: $White;
		width: 75%;
		margin: 0 auto;
	  }
	  h1,h2,h3,h4 {
		margin-bottom: 1em !important;
	  }
	}
  }
  .cta-1.card, .cta-2.card {
	.card-body {
	  padding: 2.618em 0;
	  width: 70%;
	  max-width: 70%;
	  margin: 0 auto;
	  h1,h2,h3,h4 {
		text-align: center;
		font-size: 2vw;
		margin-bottom: 1em;
	  }
	}
  }
  .cta-1 {
	.card-body {
	  display: flex;
	  justify-content: center;
	}
  }
  .middle.row {
	.feature:nth-child(1) {
	  background-color: $Gold;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  h2, h3, h4, p {
		color: $Black;
		width: 75%;
		margin: 0 auto;
	  }
	}
	.feature:nth-child(2) {
	  padding: 0;
	}
  }
  .bottom.row {
	.feature:nth-child(1) {
	  padding: 0;
	}
	.feature:nth-child(2) {
	  background-color: $Green;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  h1,h2,h3,h4,p {
		color: $White;
		width: 75%;
	  }
	  h1,h2,h3,h4 {
		margin-bottom: 1em;
	  }
	}
  }
  .cta-3.card {
	padding: 2.618em;

	.card-body {
	  h1, h2, h3, h4, p {
		color: $Green;
		width: 70%;
		max-width: 70%;
		margin: 0 auto;
		text-align: center;
	  }
	}
  }
  .card {
	border: none;
	width: 100%;
  }
}
ul#features-page-list  {
  list-style: none;
  .fas.fa-check-circle {
	color: $Green;
  }
}

/** FEATURED SECTION */
#additional-featurette {
  background-color: $LightGrey;
  padding: 2.618em 1.618em;
  h2 {
	text-align: center;
	font-size: 5em;
  }
  .feature-page-row.row {
	.feature:nth-child(1) {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  h1,h2,h3,h4,p {
		width: 75%;
		max-width: 75%;
		margin: 0 auto;
	  }
	  h1,h2,h3,h4 {
		margin-bottom: 1em !important;
	  }
	}

  }
}
#featured-content-section {
  .feature-page-row.row {
	.img-cont.col-12 {
	  padding: 0;
	  img {
		height: 600px;
		max-height: 600px;
		object-fit: cover;
		width: 100%;
	  }
	}
	.feature:nth-child(3) {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  h1,h2,h3,h4,p {
		width: 75%;
		max-width: 75%;
		margin: 0 auto;
	  }
	  h1,h2,h3,h4 {
		margin-bottom: 1em;
		color: $Green;
	  }
	}
  }
  .footer-row-featurette.row {
	.feature:nth-child(2) {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  h1,h2,h3,h4,p {
		color: $White;
		width: 75%;
		max-width: 75%;
		margin: 0 auto;
	  }
	  h1,h2,h3,h4 {
		margin-bottom: 1em;
	  }
	}
  }
}
.image-text-overlay.row {
  position: relative;
  .card {
	background-color: rgba(255,255,255, 0.5);
	width: 38%;
	position: absolute;
	bottom: 38%;
	left: 10%;
  }
}
.footer-row-featurette {
  background-color: $Gold;
}

/** Overrides The Page Basic Template **/
.page-id-59 {
  .site-container {
	#page-body-features {
		.top.row {
		  .feature:nth-child(2) {
			background-color: $LightGrey !important;
			h1,h2,h3,h4,p {
			  color: $Green;
			  width: 75%;
			  max-width: 75%;
			  margin: 0 auto;
			}
		  }
		}
	  .middle.row {
		.feature:nth-child(1) {
		  display: flex;
		  flex-direction: column;
		  justify-content: center;
		  h1,h2,h3,h4,p {
			color: $White;
			width: 75%;
			max-width: 75%;
			margin: 0 auto;
		  }
		  h1,h2,h3,h4 {
			margin-bottom: 1em;
		  }
		}
	  }
	}
  }
}
