/** SCSS Page Related
============================== */
.products-list {
  .card {
	border: none;
  }
}
.feature-list {
  display: flex;
  justify-content: center;
}

ul#features-page-list {
  li {
	font-size: 1.8vw;
	display: flex;
	align-items: center;
	margin: .7em auto;
	.fas {
	  margin-right: 10px;
	}
  }
}

ul#company-page-list {
  list-style: none;
  li {
	display: flex;
	align-items: inherit;
	margin: .7em auto;
	.fas.fa-check-circle {
	  color: $Green;
	  margin-right: 10px;
	}
  }
}

.bottom.row {
  .feature {
	display: flex;
	flex-basis: 100%;
	height: 58vh;

	img {
	  object-fit: cover;
	}
  }
}
.middle.row {
  .feature {
	display: flex;
	flex-basis: 100%;
	height: 58vh;

	img {
	  object-fit: cover;
	}
  }
}
.top.row {
  .feature {
	display: flex;
	flex-basis: 100%;
	height: 58vh;
	img {
	  object-fit: cover;
	}
  }
}

#page-body-features {
  .top.row {
	.feature {
	  img {
		width: 100%;
	  }
	}
	.feature:nth-child(1) {
	  padding: 0;
	}
	.feature:nth-child(2) {
	  background-color: $Green;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  h1,h2,h3,h4,p {
		color: $White;
		width: 75%;
		margin: 0 auto;
	  }
	  h1,h2,h3,h4 {
		margin-bottom: 1em !important;
	  }
	}
  }
  .cta-1.card, .cta-2.card {
	.card-body {
	  padding: 2.618em 0;
	  width: 70%;
	  max-width: 70%;
	  margin: 0 auto;
	  h1,h2,h3,h4 {
		text-align: center;
		margin-bottom: 1em;
	  }
	}
  }
  .middle.row {
	.feature:nth-child(1) {
	  background-color: $Gold;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  h2, h3, h4, p {
		color: $Black;
		width: 75%;
		margin: 0 auto;
	  }
	}
	.feature:nth-child(2) {
	  padding: 0;
	}
  }
  .bottom.row {
	.feature:nth-child(1) {
	  padding: 0;
	}
	.feature:nth-child(2) {
	  background-color: $Green;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  h1,h2,h3,h4,p {
		color: $White;
		width: 75%;
	  }
	  h1,h2,h3,h4 {
		margin-bottom: 1em;
	  }
	}
  }
  .cta-3.card {
	padding: 2.618em;

	.card-body {
	  h1, h2, h3, h4, p {
		color: $Green;
		width: 70%;
		max-width: 70%;
		margin: 0 auto;
		text-align: center;
	  }
	}
  }
  .card {
	border: none;
	width: 100%;
  }
}
ul#features-page-list  {
  list-style: none;
  .fas.fa-check-circle {
	color: $Green;
  }
}

/** FEATURED SECTION */
#additional-featurette {
  background-color: $LightGrey;
  padding: 2.618em 1.618em;
  h2 {
	text-align: center;
	font-size: 5em;
  }
  .feature-page-row.row {
	.feature:nth-child(1) {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  h1,h2,h3,h4,p {
		width: 75%;
		max-width: 75%;
		margin: 0 auto;
	  }
	  h1,h2,h3,h4 {
		margin-bottom: 1em !important;
	  }
	}

  }
}
#featured-content-section {
  .feature-page-row.row {
	.img-cont.col-12 {
	  padding: 0;
	  img {
		height: 600px;
		max-height: 600px;
		object-fit: cover;
		width: 100%;
	  }
	}
	.feature:nth-child(3) {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  h1,h2,h3,h4,p {
		width: 75%;
		max-width: 75%;
		margin: 0 auto;
	  }
	  h1,h2,h3,h4 {
		margin-bottom: 1em;
		color: $Green;
	  }
	}
  }
  .footer-row-featurette.row {
	.feature {
	  display: flex;
	  flex-basis: 100%;
	  img {
		object-fit: cover;
	  }
	}
	.feature:nth-child(2) {
	  flex-direction: column;
	  justify-content: center;
	  h1,h2,h3,h4,p {
		color: $White;
		width: 75%;
		max-width: 75%;
		margin: 0 auto;
	  }
	  h1,h2,h3,h4 {
		margin-bottom: 1em;
	  }
	}
  }
}
#image-overlay.image-text-overlay.row {
  position: relative;
  .card {
	background-color: rgba(255,255,255, 0.5);
	width: 38%;
	position: absolute;
	top: 50%;
	left: 28%;
	transform: translate( -50%, -50% );
  }
}
.footer-row-featurette {
  background-color: $Gold;
}

/** Overrides The Page Basic Template **/
.page-id-65 {
  .site-container {
	.site-empty-inner {
	  padding: 0;
	}
	#page-body-features {
	  padding-top: 5px;
	  .row {
		.feature:nth-child(1) {
		  padding-right: 5px ;
		}
	  }
	}
  }
}
.page-id-59 {
  .site-container {
	#page-body-features {
		.top.row {
		  .feature:nth-child(2) {
			background-color: $LightGrey !important;
			h1,h2,h3,h4,p {
			  color: $Green;
			  width: 75%;
			  max-width: 75%;
			  margin: 0 auto;
			}
		  }
		}
	  .middle.row {
		.feature:nth-child(1) {
		  display: flex;
		  flex-direction: column;
		  justify-content: center;
		  h1,h2,h3,h4,p {
			color: $White;
			width: 75%;
			max-width: 75%;
			margin: 0 auto;
		  }
		  h1,h2,h3,h4 {
			margin-bottom: 1em;
		  }
		}
	  }
	}
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .footer-row-featurette.row {
	.feature {
	  transition: 0.5s;
	  height: 70vh;
	}
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}



// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  #page-body-features {
	transition: 0.5s;
	.row {
	  .feature:nth-child(2) {
		padding: 1.618em 0;
	  }
	}
	.middle.row {
	  .feature:nth-child(1) {
		padding: 1.618em 0;
	  }
	}
  }
  #featured-content-section {
	.feature-page-row {
	  .feature:nth-child(3) {
		padding: 1.618em 0;
	  }
	}
	#additional-featurette {
	  .feature-page-row {
		.feature:nth-child(1) {
		  padding: 1.618em 0;
		}
	  }
	}
	.footer-row-featurette {
	  .feature:nth-child(2) {
		padding: 1.618em 0;
	  }
	}
  }

  #page-body-features .cta-1.card .card-body, #page-body-features .cta-2.card .card-body {
	width: 90%;
	max-width: 100%;
  }

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .footer-row-featurette.row {
	.feature {
	  transition: 0.5s;
	  height: 59vh;
	}
  }

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  #image-overlay.image-text-overlay.row {
	position: relative;
	.card {
	  background-color: rgba(255,255,255, 0.5);
	  width: 80%;
	  position: absolute;
	  top: 10%;
	  left: 5%;
	  right: 5%;
	  transform: translate( 5%, 0% );
	}
  }
}
