/* SCSS Parallax
========================== */

.parallax-slider:after {
  content: "";
  background: rgba(0,0,0,0.5);
  position: absolute;
  z-index: 2;
  display: block;
  width: 100%;
  top: 0;
  bottom: 0;
}


.parallax-window {
  min-height: 700px;
  height: auto;
  background: transparent;
}
.parallax-mirror {
  /*height: 100% !important;
  min-height: 1200px;
  z-index: 0 !important;*/
}

.parallax-content {
  position: relative;
  top: 50%;
  left: 10%;
  z-index: 4;
  h1 {
	color: $White;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .parallax-slider {
	img {
	  margin-top: -100px;
	}
  }
}



// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .parallax-content {
	position: absolute;
	top: 50%;
	left: 3%;
	right: 3%;
	h1 {
	  color: $White;
	  text-align: center;
	}
	p {
	  text-align: center;
	}
  }

  .parallax-slider {
	img {
	  height: 1000px;
	  object-fit: cover;
	}
  }



}


