/* SCSS Parallax
========================== */

.parallax-window {
  min-height: 700px;
  background: transparent;
}

.parallax-content {
  position: relative;
  top: 50%;
  left: 10%;
  h1 {
	color: $White;
  }
  .btn-green {
	background-color: $Green;
	color: $White;
  }
}
