/** SCSS Support Page
============================ */

#support-entry {
  .row {
	.col-md-6:nth-child(1) {
	  height: 700px;
	  img {
		object-fit: cover;
		height: 700px;
	  }
	}
	.col-md-6:nth-child(2) {
	  font-size: 1.5rem;
	  line-height: 2;
	}
  }
}
